body,html,div,p,a,ul,li,img,h1,h2,h3,h4,h5,h6,input,em,del,u,hr,b,strong,video{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
a,input,select{
	outline: none;
}
.cf{
	zoom: 1;
}
.cf:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	clear: both;
	overflow: hidden;
}
img{
	border: 0;
}

@charset "utf-8";
html,body,p,h1,h2,h3,h4,h5,h6,ul,li,ol,table,input,select,caption,img,a,dl,dt,dd,tr,td,form{
    margin: 0; padding: 0
}
body{
    font-size: 12px; font-family: "微软雅黑"
}
table{
    border-spacing: 0;border-collapse: collapse;
}
a{
    text-decoration: none;  color: #000;
}
i,em{
    font-style: normal
}
b,h1,h2,h3,h4,h5,h6{
    font-weight: normal
}
ul li,ol li{
    list-style: none;
}
img{
    border: none; vertical-align: top; 
}
select{
    outline: none; border: none
}
input,select option{
    border: none; outline: none;
}
.clearfix:after{
    content: ".";
    overflow: hidden;
    height: 0;
    font-size: 1px;
    display:block;
    visibility: hidden;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right
}
